.glyphicon-refresh {
    margin-left: 5px;
}

a.productAction.loading {
   pointer-events: none;
   cursor: default;
   background-color: #CCCCCC !important;
}

a.productAction.loading .glyphicon-refresh {
    animation-name: rotateThis;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

table.table-condensed th.site {
    vertical-align: bottom;
    max-width: 20px;
    text-align: center;
}

table.table-condensed td.productInfo,
table.table-condensed td.actions {
  text-align: center;
  vertical-align: middle;
}

div.siteId:before {
  content: "";
  float: left;
  margin-top: 100%;
}

div.siteId {
  display: inline-block;
  white-space: nowrap;
  transform: translate(0,100%) rotate(-70deg);
  transform-origin: 0 0;
  padding-left: 5px;
}

.productInfo .label {
  padding: 0.5em .9em .6em;
}

.dataTable thead th {
  background-color: #FFF;
}

#productsTable_filter {
  float: right;
}